<div class="jumbotron container">
	<h1 class="center header">You have applied for these Projects</h1><br>
	<% if logged_in? %>
			<table class="table table-bordered">
				<thead>
				<th>PROJECT NAME</th>
				<th>DESCRIPTION</th>
				<th>STATUS</th>
				</thead>
				<% @applied_project.each do |project|%>
				
					<tbody>
					<tr>
						<td><%= project.project_name %></td>
						<td><%= project.description %></td>
						<td class="btn btn-info">Applied</td>
					</tr>
					</tbody>
				
				<% end %>
			</table>
	<h1 class="center header">You Application has been approved.(*Start Working Now*)</h1><br>
			<table class="table table-bordered">
				<thead>
				<th>PROJECT NAME</th>
				<th>DESCRIPTION</th>
				<th>Contact Email</th>
				<th>STATUS</th>
				</thead>
				<% @applied_confirmed.each do |project|%>

					<tbody>
					<tr>
						<td><%= project.project_name %></td>
						<td><%= link_to "view project", project_path(project.id), class: 'btn btn-info' %></td>
						<td><%= User.find(project.user_id).email %></td>
						<td class="btn btn-success">Approved</td>
					</tr>
					</tbody>
				<% end %>
			</table>
	<% else %>
		<%= link_to "Goto_home_page", users_path, class: 'btn btn-primary' %>
	<% end %>
</div>


