<div class="jumbotron container">
	<h1 class="center header">You have applied for these Projects</h1><br>
	<% if logged_in? %>
			<table class="table table-bordered">
				<thead>
				<th>PROJECT NAME</th>
				<th>DESCRIPTION</th>
				<th>STATUS</th>
				</thead>
				<% @applied_project_id.each do |projectId|%>
				<% applied_project = Project.find(projectId)%>
					<tbody>
					<tr>
						<td><%= applied_project.project_name %></td>
						<td><%= applied_project.description %></td>
						<td class="btn btn-info">Applied</td>
					</tr>
					</tbody>
				
				<% end %>
			</table>
	<h1 class="center header">You Application has been approved.(*Start Working Now*)</h1><br>
			<table class="table table-bordered">
				<thead>
				<th>PROJECT NAME</th>
				<th>DESCRIPTION</th>
				<th>Contact Email</th>
				<th>STATUS</th>
				</thead>
				<% @applied_confirmed.each do |id,project_name,description|%>
					<tbody>
					<tr>
						<td><%= project_name %></td>
						<td><%= link_to "view project", project_path(AppliedDetail.find(id).project_id), class: 'btn btn-info' %></td>
						<td><%= User.find(Project.find(id).user_id).email %></td>
						<td class="btn btn-success">Approved</td>
					</tr>
					</tbody>
				<% end %>
			</table>
	<% else %>
		<%= link_to "Goto_home_page", users_path, class: 'btn btn-primary' %>
	<% end %>
</div>


