<div class="center container">
	<h1 class="header jumbotron indexjumbotron">Welcome to home page</h1>
	<% if logged_in?%>
	<!-- other project -->
	<div class="container">
		<br/><h1>Other Projects</h1><br/>
		<div class="column root-container ">
			<% @all_projects.each do |projects| %>
			<div class="row skill-container jumbotron">
				<div class="col-3 title well">skills</div>
				<div class="col-7"> 
					<!-- <p></p> when group wise skills -->
					<div class="column desc-container">
						<div class="title"><%= projects.project_name %></div> 
						<div><%= projects.description %></div>
						<%if @current_user.work? %>
						<div> 
							<%= link_to "Apply for this project", formforapplyproject_path(projects.id), class: 'btn btn-success' %> | <%= link_to "view", project_path(projects.id), class: 'btn btn-info' %> | <button class="btn btn-info disable"><%= Project.find(Project.where.not(user: @current_user).find(projects.id).id).applied_user_completion_details.count() %> people Applied </button>
						</div>
						<%elsif @current_user.hire?%>
							<%= link_to "view", project_path(projects.id), class: 'btn btn-info' %> | <button class="btn btn-info disable"><%= Project.find(Project.where.not(user: @current_user).find(projects.id).id).applied_user_completion_details.count() %> people Applied </button>
						<%end%>
							<% category = Project.find(projects.id).skills_categories.pluck(:tech_skills) %>
							<div>
								<% category.each do |cat| %>
								<span><button class="btn btn-xs btn-success"><%= cat %></button></span>
								<% end %>
							</div>
					</div>
					<!-- <p></p> end of block-->
				</div>					
			</div>
			<%end%>
		</div>
	</div>

	<!-- My project -->
	<% if logged_in? && @current_user.category == 'hire'%>
	<br/><h1>My Projects</h1><br/>
	<table class="table table-striped">
		<thead>
			<th>PROJECT NAME</th>
			<th>PROJECT DESCRIPTIONS</th>
			<th>CLICK TO VIEW</th>
			<th>TOTAL APPLICATION</th>
			<th>SHOW LIST</th>
			<th>STATUS</th>
		</thead>
		<% @my_projects.each do |id,project_name, description,is_closed|%>
		<tbody>
			<tr>
				<td><%= project_name %></td>
				<td><%= description %></td>
				<td><%= link_to "view", project_path(id), class: 'btn btn-info' %></td>
				<td> <%= Project.find(id).applied_user_completion_details.count() %> </td>
				<td><%= link_to "view Application",showappliedproject_path(id), class: 'btn btn-info' %></td>
				<% if is_closed == false%>
				<td>open</td>
				<%else%>
				<td>closed</td>
				<%end%>
			</tr>
		</tbody>
		<% end %>
	</table>
	<% elsif logged_in? && @current_user.category == 'work'%>
	<br><%= link_to "view your applied Projects", applied_path, class: 'btn btn-info' %>
	<% end %>
	<% else %>
	<%= link_to "Go to index", users_path, class: 'btn btn-danger btn-lg' %>
	<% end %>
</div>