<div class="center container">
	<h1 class="header jumbotron indexjumbotron">Welcome to home page</h1>
	<% if logged_in?%>
	<!-- other project -->
	<div class="container">
		<br/><h1>Other Projects</h1><br/>
		<div class="column root-container ">

		<!-- search field start -->
				<%= form_tag home_path, method: :get do %>
				<p>
					<%= text_field_tag :search, params[:search], placeholder: "search by category name", required:"true" %>
					<%= submit_tag "search", name: nil%>
				</p>
				<% end %>
		<!-- search field end -->
		
		<% begin %>
			<% @all_projects.each do |projects| %>
			<div class="row skill-container jumbotron">
				<div class="col-3 title well"><%= projects.project_name %></div>
				<div class="col-7"> 
					<div class="column desc-container">
						 
						<div><%= projects.description %></div>
						<%if @current_user.work? %>

						<div> 
							<%= link_to "Apply for this project", formforapplyproject_path(projects.id), class: 'btn btn-success' %> | <%= link_to "view", project_path(projects.id), class: 'btn btn-info' %> | <button class="btn btn-info disable"><%= Project.find(Project.where.not(user: @current_user).find(projects.id).id).applied_user_completion_details.count() %> people Applied </button>
						</div>
						
						<%elsif @current_user.hire?%>
							<%= link_to "view", project_path(projects.id), class: 'btn btn-info' %> | <button class="btn btn-info disable"><%= Project.find(Project.where.not(user: @current_user).find(projects.id).id).applied_user_completion_details.count() %> people Applied </button>
						<%end%><br>
							<% category = Project.find(projects.id).skills_categories.pluck(:tech_skills) %>
							<div>
								<% category.each do |cat| %>
								<span><button class="btn btn-danger btn-sm"><%= cat %></button></span>
								<% end %>
							</div>
					</div>

				</div>					
			</div>
			<% end %>
			<% rescue %>
			<p> Not found </p>
			<% end %>
		</div>
	</div>

	<!-- My project -->
	<% if logged_in? && @current_user.category == 'hire'%>
	<br/><h1>My Projects</h1><br/>
	<table class="table table-striped">
		<thead>
			<th>PROJECT NAME</th>
			<th>VIEW PROJECT</th>
			<th>TOTAL APPLICATION</th>
			<th>SHOW LIST</th>
			<th>STATUS</th>
			<th>Action</th>
		</thead>
		<% @my_projects.each do |id,project_name, description,is_closed|%>
		<tbody>
			<tr>
				<td><%= project_name %></td>
				<td><%= link_to "view", project_path(id), class: 'btn btn-info' %></td>
				<% project = Project.find(id) %>
				<td> <%= project.applied_user_completion_details.count() %> </td>
				<td><%= link_to "view Application",showappliedproject_path(id), class: 'btn btn-info' %></td>
				
				<% if project.applied_user_completion_details.pluck(:got_project).include? true %>
				<td>Assigned</td>
				<% else %>
				<td>not assigned</td>
				<% end %>
				
				<% if is_closed == false%>
				<td><%= link_to "close this project", close_path(id), data: {confirm: "Are you Sure?"}, class: 'btn btn-sm btn-info' %></td>
				<%else%>
				<td><button class="btn btn-danger btn-sm">project closed</button></td>
				<%end%>
			</tr>
		</tbody>
		<% end %>
	</table>
	<% elsif logged_in? && @current_user.category == 'work'%>
	<br><%= link_to "view your applied Projects", applied_path, class: 'btn btn-info' %>
	<% end %>
	<% else %>
	<%= link_to "index", users_path, class: 'btn btn-danger btn-lg' %>
	<% end %>
</div>
