<h1>Welcome to Signup Page</h1>
<h3>Fill the form and click on Signup</h3>

<%= form_for @signup do |f| %>
	<p>
		<%= f.label :user_name %><br>
		<%= f.text_field :user_id %>
	</p>
	<p>
		<%= f.label :Email %><br>
		<%= f.email_field :email %>
	</p>
	<p>
		<%= f.label :password %><br>
		<%= f.password_field :password %>
	</p>
	<p>
    	<%= f.radio_button :category, 'hire' %> Hire<br />
    	<%= f.radio_button :category, 'work' %> Work<br />
	</p>
	<p>
		<%= f.submit "Signup" %>
	</p>
<% end %>

<%= link_to "HomePage", users_path %>
