<div class="jumbotron container">
	<h1 class="center header">Provide the project details</h1><br>
	<div class="col-xl-12">
		<%= form_for @project do |f| %>
			<div class="form-group row">
				<div class="controll-label col-md-2">
					<%= f.label :Project_Name %>
				</div>
				<div class="col-md-10">
					<%= f.text_field :project_name, class: "form-control", placeholder: "project name", autofocus: true, required:"true" %>
				</div>
			</div>
			<div class="form-group row">
				<div class="controll-label col-md-2">
					<%= f.label :Description %>
				</div>
				<div class="col-md-10">
					<%= f.text_area :description, class: "form-control", placeholder: "project details here........", autofocus: true,rows:10, required:"true" %>
				</div>
			</div>

			<div class="form-group row">
				<div class="controll-label col-md-2">
					<%= f.label :Category %>
				</div>
				<div class="col-md-10">
				<%= f.collection_check_boxes :skills_category_ids, SkillsCategory.all, :id, :tech_skills do |cb| %>
				<% cb.label(class: "checkbox-inline input_checkbox"){cb.check_box(class: "checkbox") + cb.text} %>
				<% end %>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-10">
				<%= f.submit "Post", class: 'btn btn-success' %>
				</div>
			</div>
		<% end %>
	</div>
</div>