<div class="jumbotron container">
	<h1 class="center header">Provide the project details</h1><br>
	<div class="col-xl-12">
		<%= form_for @project do |f| %>
			<div class="form-group row">
				<div class="controll-label col-md-2">
					<%= f.label :Project_Name %>
				</div>
				<div class="col-md-10">
					<%= f.text_field :project_name, class: "form-control", placeholder: "project name", autofocus: true %>
				</div>
			</div>
			<div class="form-group row">
				<div class="controll-label col-md-2">
					<%= f.label :Description %>
				</div>
				<div class="col-md-10">
					<%= f.text_area :description, class: "form-control", placeholder: "project details here........", autofocus: true,rows:10 %>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-10">
					<h3>Choose Skills </h3>
		    	<%= f.radio_button :skill, 'android' %> Android Application
		    	<%= f.radio_button :skill, 'web development' %> Web Development
		    	<%= f.radio_button :skill, 'Ios' %> ios Application
		    	<%= f.radio_button :skill, 'Design' %> Design UI/UX
		    	</div>
		    </div>
			<div class="form-group row">
				<div class="col-md-10">
				<%= f.submit "Post", class: 'btn btn-success' %>
				</div>
			</div>
		<% end %>
	</div>
</div>