<div class="container">
<% if logged_in? %>
	<h1 class="center header">Here is your project details</h1>

	<div class="jumbotron">
		<h3><b>Project Name :</b> <span><%= @project.project_name %></span></h3>
		<h3><b>Description :</b> <span><%= @project.description %></span> </h3>

		<h3><b>Category :<span><% @category.each do |cat| %>
								<span><button class="btn btn-danger btn-sm"><%= cat %></button></span>
								<% end %>
						 </span>
			 </b>
		</h3>
		<%begin%>
		<% assigned_user_application_id = @project_cost_and_user_info.pluck(:user_id,:id)%>
		<%if @current_user.category == 'hire' && @current_user.id == @admin_id %>
		<h1 class="center header">Approval details</h1><hr>
			<% assigned_user_application_id.each do |item| %>
			<% cost_detail = @project.applied_user_completion_details.where(user_id:item[0]).where(id:item[1]) %>
			<h3><b>Start date:</b> <span><%= cost_detail.pluck(:start_date)[0].to_formatted_s(:rfc822) %></span></h3>
			<h3><b>Total cost(INR):</b> <span><%= cost_detail.pluck(:cost)[0] %></span></h3>
			<h3><b>Total Time(Days):</b> <span><%= cost_detail.pluck(:total_time)[0] %></span></h3>
			<h3><b>User Email:</b> <span><%= User.find(cost_detail.pluck(:user_id)[0]).email %></span></h3><hr>
			<% end %>
		<%end%>
		<%rescue%>
		<h4>No approval details</h4><hr>
		<%end%>
	</div>
<% else %>
	<%= link_to "index", users_path, class: 'btn btn-danger btn-lg' %>
<% end %>
</div>

